body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    transition: background-color 0.5s ease;
}

canvas {
    border: 2px solid #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s;
    width: 500px; /* Set a fixed width */
    height: 500px; /* Set a fixed height */
}

canvas:hover {
    transform: scale(1.05);
}

h1 {
    position: center;
    top: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.score-board {
    margin-top: 10px;
}

button {
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.mobile-controls {
    display: none;
    margin-top: 10px;
}

.joystick {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.joystick-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.joystick-btn.up {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.joystick-btn.left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.joystick-btn.down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.joystick-btn.right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.joystick-btn:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 2em;
    }

    button {
        width: 100%;
        padding: 15px;
    }

    .mobile-controls {
        display: block;
    }
}